main{
    font-family: "Linux Libertine G";
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #c8c9bf;
}

aside ul{
    width: 100%;
}


.drop-down ul>li{
    font-size: 12px;
}

ul li>i {
    padding-right: 5px;
}

ul>li:hover{
    /*background-color: #e1e2d8;*/
    color: #e25346;
    cursor: pointer;
}

ul>li{
    padding: 10px 9.5%;
    list-style: none;
    color: black;
    font-size: 18px;
}

a{
    font-size: 14px;
}

a:hover{
    text-decoration: none;
    color: #e25346;
}

.drop-down{
    display: none;
}

img.logo {
    width: 170px;
}

i{
    font-size: 16px;
    margin-right: 4%;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

caption{
    caption-side: top;
    font-size: 18px;
}

.main-wrapper{
    grid-row-start: 1;
    grid-row-end: 4;
}

main>.table{
    margin-bottom: 0px;
    width: 97%;
}

.btn-danger {
    background-color: #e25346;
}
.btn-danger:hover{
    color: black;
}

.btn-warning {
    background-color: #e2973a;
    color: white;
}

select {
    font-size: 12px;
    border: none;
    height: 100%;
}



