body.antialiased{
    font-family: "Linux Libertine G";
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}


/*@media screen and (max-width: 1366px) {*/
/*    .content {*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*    }*/
/*}*/


/*@media screen and (max-width: 768px) {*/
/*    .content {*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*    }*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*    .content {*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/

div.bg-gray-100 {
    background: url("../images/bg.png");
    background-size: 100%;

}

.bi-cart3 {
    font-size: 18px;
}
/*nav{*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/
/*ul li{*/
/*    float: left;*/
/*    padding: 8px;*/
/*}*/
/*.dropbox-catalog {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding: 8px;*/
/*}*/
/*.dropbox {*/
/*    display: none;*/
/*    position: absolute;*/
/*    min-width: 140px;*/
/*    background-color: #f3f4f6;*/
/*}*/
/*.dropbox a {*/
/*    padding: 10px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    cursor: pointer;*/
/*}*/
/*.dropbox a:hover{*/
/*    background-color: #a0aec0;*/
/*}*/
/*.dropbox-catalog:hover .dropbox {*/
/*    display: block;*/
/*}*/
/*.dropbox-catalog:hover{*/
/*    cursor: pointer;*/
/*}*/
img.logo {
    width: 170px;
}

.logo-line{
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}


.main-user-wrapper{
    padding: 0 10px;
    /*width: 100%;*/
}

.d-flex {
    width: 45vw;
}

select {
    /*max-height: 90%;*/
    border: 1px solid #198754;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}

select:hover{

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav a.nav-link:hover {
    color: #198754;
}

.dropdown-item:focus, a.dropdown-item:hover {
    color: #198754;
    text-shadow: 1px 1px #198754;
}

/*.dropdown {*/
/*    width: 15vw;*/
/*}*/

/*.dropdown:hover .dropdown-menu {*/
/*    display: block;*/
/*}*/

/*.dropdown-toggle {*/
/*    width: 15vw;*/
/*}*/

/*.dropdown-menu {*/
/*    width: 15vw;*/
/*}*/

div.account {
}

ul.account {
    padding: 0;
}

ul.account li a {
    text-decoration: none;
    color: #1a202c;
    font-size: 16px;
    font-weight: bolder;
}

ul.account li a:hover {
    color: #198754;
    border-left: #198754 3px solid;
    padding-left: 8px;
}

div.account {
    /*position: absolute;*/
    min-height: 85vh;
    background-color: rgba(255,253,251,0.25);
    padding: 0;
    margin: 0;
}

main {
    min-height: 82vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slider-wrapper {
    z-index: 9;
    width: 600px;
    height: 390px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
    /*border: 2px solid #000000;*/
    /*border-radius: 15px;*/
    padding: 0;
}

.slider-wrapper ul, .slider-wrapper li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider-wrapper ul {
    width: 9999px;
}

.slider-wrapper ul li {
    list-style-type: none;
    float: left;
    width: 600px;
    height: 390px;;
}

.slider-wrapper .nav{
    position: absolute;
    left: 15px;
    bottom: 12px;
}

.slider-wrapper .nav span {
    opacity: 0.9;
    background: white;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #198754;
    border: 4px solid #000000;
}
.slider-wrapper .nav span.on {
    background: #198754;
}

.box {
    padding: 7px;
    margin: 35px auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px -3px rgba(25,135,84,0.45);
    background-color: rgba(255,242,254,0.5);
    max-height: 600px;
}

li>img{
    height: 100%;
    /*border: 2px solid #000000;*/
    border-radius: 15px;
}

img.discount {
    margin-left: 500px;
    margin-bottom: -50px;
}
